<article class="example | remove-everything">
    <h1>HELLO</h1>
    <h2>We create a space where technology works for you, and design speaks to emotions.</h2>
    <h3>We create a space where technology works for you, and design speaks to emotions.</h3>
    <h4>We create a space where technology works for you, and design speaks to emotions.</h4>
    <h5>We create a space where technology works for you, and design speaks to emotions.</h5>
    <h6>We create a space where technology works for you, and design speaks to emotions.</h6>
    <figure>
        <img src="https://img.goodfon.ru/wallpaper/big/1/32/fon-abstraktsiia-temno-neon.webp" alt="">
        <figcaption>Select all images without an alt attribute or with an empty alt</figcaption>
    </figure>
</article>